body {
/*	background-color: #ffffff;*/
	color: #ffffff;
	font-size: 11px;
	background: url('../assets/forest.jpg') no-repeat center center fixed;
 	background-size: cover;
}

html {
	background: url('../assets/forest.jpg') no-repeat center center fixed;
 	background-size: cover;
}

p {
	line-height: 120%;
	font-family: raleway;
	font-size: 11px;
	text-transform: lowercase;
	letter-spacing: 2px;
}

a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.titleone {
	font-family: playfair display;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 50px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.topnav {
	color: #ffffff;
	padding: 20px;
	max-width: 100%;
	height: 20px;
	font-family: raleway;
	font-size: 20px;
	float: right;
	text-transform: uppercase;
}

span.navlink {
	max-width: 30%;
	padding: 10px;
	right: 50px;
}

.menuicon {
	width: 50px;
	height: 50px;
	background: #ffffff;
	color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

span.amp {
	font-family: Baskerville, Palatino, "Book Antiqua", serif;
	font-style: italic;
	font-size: 80px;
	padding: 50px;
	display: inline-block;
  }


/*.fall {
	width: 200px;
	height: auto;
	padding: 20px;
	font-size: : 45px;
}*/

.winter {
	margin-top: 100px;
	height: auto;
	text-align: justify;
}

.winter-right {
	float: right;
	margin-top: 100px;
	margin-left: -50px;
	width: 300px;
	height: auto;
	padding: 20px;
	text-align: justify;

}


.collapsible {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;
    color: #000000;
 }

 .collapsible-header {
 	background-color: #ffffff;
 	opacity: 0.7;
 }

 .collapsible-body {
 	background-color: #ffffff;
 }

 .map {
 	float: right;
	margin-top: 100px;
	max-width: 500px;
	height: auto;
	padding: 20px;
	text-align: justify;
 }

/*
.imgcont1 {
	vertical-align: top;
	top: 200px;
	background-image: url('../assets/forest.jpg');
	min-width: 30%;
	height: 500px; 
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
*/

/*.firstcontent {
	width: 450px;
	height: 300px;
	padding: 50px;
	overflow: auto;
	box-sizing: border-box;
	border: 3px double #ffffff;
	text-align: justify;
	color: #ffffff;
}
*/
