body {
/*	background-color: #ffffff;*/
	color: #ffffff;
	font-size: 11px;
	background: url('../assets/forest.jpg') no-repeat center center fixed;
 	background-size: cover;
}

p {
	line-height: 120%;
	font-family: raleway;
	font-size: 11px;
	text-transform: lowercase;
	letter-spacing: 2px;
}

b {
	font-size: 16px;
}

a {
	max-width: 30%;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	position: relative;
}

a:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	color: #ffffff;
}


a:hover {
	color: #ffffff;
}


a:hover:after {
	width: 100%;
	background: white;
	color: #ffffff;
}


a:active:hover {
	color: #ffffff;
}


a:active {
	color: #ffffff;
}


.map * {
	color: black !important;
}

.navlink {
	max-width: 30%;
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	position: relative;
}

.navlink:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	color: #ffffff;
}


.navlink:hover {
	color: #ffffff;
}


.navlink:hover:after {
	width: 100%;
	background: white;
	color: #ffffff;
}


.navlink:active:hover {
	color: #ffffff;
}


.navlink:active {
	color: #ffffff;
}

.title-one {
	font-family: roboto;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 60px;
	margin-bottom: -10px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.topnav {
	color: #ffffff;
	margin-top: 10px;
	padding: 20px;
	max-width: 100%;
	height: 20px;
	font-family: raleway;
	font-size: 20px;
	float: right;
	text-transform: uppercase;
}

.hiker-info {
	display: inline-block;
	height: 600px;
	text-align: justify;
	margin-top: 100px;
	width: 350px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 450px;
	width: 100%;
	float: right;
	margin-top: 25px;
	/*margin-left: -100px;*/
	border-radius: 25px;
	-moz-border-radius: 25px;
	margin-bottom: 25px;
}

/* WITH GMAP - Optional: Makes the sample page fill the window. */
/*html, body {
	height: 100%;
	margin: 0;
	padding: 0;
*/

.backstory {
	display: inline-block;
	height: auto;
	width: 100%;
	text-align: justify;
	margin-top: 70px;
	color: #ffffff;
}

.about {
	display: inline-block;
	height: auto;
	width: 100%;
	text-align: justify;
	margin-top: 70px;
	color: #ffffff;
}

.credits {
	display: inline-block;
	height: auto;
	width: 100%;
	text-align: justify;
	margin-top: 100px;
	color: #ffffff;
}

.content {
	color: #000000;
}

.accordion {
	color: #000000;
	opacity: 0.7;
}

.page-section {
	display: none;
}

.button-container {
	top: 20px;
	color: #ffffff !important;
	text-align: center;
	font-family: raleway;
	font-size: 11px;
	text-transform: lowercase;
	letter-spacing: 2px;
	line-height: 120%;
}

.ui-button {
	cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    opacity: 0.9;
}

.heading-one {
	font-size: 13px;
	color: #ffffff !important;
	font-family: raleway;
	text-transform: lowercase;
	letter-spacing: 2px;
	line-height: 90%; 
	font-weight: 200;
}

.heading-two {
	font-size: 13px;
	color: #ffffff !important;
	text-align: center;
	font-family: raleway;
	text-transform: lowercase;
	letter-spacing: 2px;
	line-height: 90%; 
	font-weight: 200;
}
