body {
/*	background-color: #ffffff;*/
	color: #ffffff;
	font-size: 11px;
	background: url('../assets/forest.jpg') no-repeat center center fixed;
 	background-size: cover;
}

p {
	line-height: 120%;
	font-family: raleway;
	font-size: 11px;
	text-transform: lowercase;
	letter-spacing: 2px;
}

b {
	font-size: 14px;
}

.navlink {
	max-width: 30%;
	padding: 10px;
	right: 50px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	position: relative;
}

.navlink:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	color: #ffffff;
}

.navlink:hover {
	color: #ffffff;
}

.navlink:hover:after {
	width: 100%;
	background: white;
	color: #ffffff;
}

.navlink:active:hover {
	color: #ffffff;
}

.navlink:active {
	color: #ffffff;
}

.titleone {
	font-family: open sans;
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 60px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.topnav {
	color: #ffffff;
	margin-top: 10px;
	padding: 20px;
	max-width: 100%;
	height: 20px;
	font-family: raleway;
	font-size: 20px;
	float: right;
	text-transform: uppercase;
}

.hiker-info {
	display: inline-block;
	height: 600px;
	text-align: justify;
	margin-top: 100px;
	width: 350px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 450px;
	width: 100%;
	float: right;
	margin-top: 25px;
	/*margin-left: -100px;*/
	border-radius: 25px;
	-moz-border-radius: 25px;
}

/* WITH GMAP - Optional: Makes the sample page fill the window. */
/*html, body {
	height: 100%;
	margin: 0;
	padding: 0;
*/

.backstory {
	display: inline-block;
	height: auto;
	width: 100%;
	text-align: justify;
	margin-top: 100px;
}

.about {
	display: inline-block;
	height: auto;
	width: 100%;
	text-align: justify;
	margin-top: 100px;
}

.resources {
	display: inline-block;
	height: auto;
	width: 100%;
	text-align: justify;
	margin-top: 100px;
}

.content {
	color: #000000;
}

.accordion {
	color: #000000;
	opacity: 0.7;
}

